 /* c40000 主题色 */

 /*头部开始 */
.top {
	height: 31px;
	background: #f1f1f1;
}

.top .left {
	/*width: 300px;*/
	height: 31px;
	/*background: yellow;*/
	line-height: 31px;
}

.top .left span {
	color: #333;
}

/* a 父盒子下的所有a*/
.top .left a:nth-of-type(1) {
	color: #333;
	margin-left: 13px;
	margin-right: 13px;
}

.top .left a:nth-of-type(2) {
	color: #c40000;
}

.top .right {
	/*width: 700px;*/
	height: 31px;
	/*background: red;*/
}

.top .right ul {
	
} 

.top .right ul li:nth-child(7) a {
	padding-right: 0px;
}

.top .right ul li {
	float: left;
	color: #333;
}

.top .right ul li a {
	display: inline-block;
	height: 31px;
	line-height: 31px;
	padding-left: 15px;
	padding-right: 15px;
}

.icon-moreunfold {
	font-size: 12px;
}

.line::after  {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #666;

	position: relative;
	left: 0;
	top: 1.5px;
}

/* 头部结束 */

/* logo 开始*/
.logo {
	height: 64px;
	/*background: pink;*/
	margin-top: 25px;

}

.logo .left {
	width: 171px;
	height: 60px;
	background: url(../images/logo.png);
}

.logo .left h1 {
	font-size: 0;
}

.logo .right {
	width: 139px;
	height: 36px;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 36px;
	margin-right: 65px;
	color: #444;
	text-align: center;
}

.logo .right .icon-cart {
	color: #c40000;
}

.logo .right .icon-more {
	font-size: 12px;
}

.logo .right::after {
	content: "911";
	display: inline-block;
	min-width: 14px;
	height: 14px;
	line-height: 14px;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 7px 7px 7px 0;
	color: #fff;
	background: #E3060F;

	position: relative;
	left: -22px;
	top: -20px;
}


.logo .center {
	width: 538px;
	height: 64px;
	margin: 0 auto;
	/*background: blue;*/
}

.logo .center input{
	vertical-align: top;
} 

.logo .center input[type="text"] {
	width: 454px;
	height: 32px;
	font-size: 14px;
	text-indent: 1em;
	border: 2px solid #c40000;
}

.logo .center input[type="button"] {
	width: 80px;
	height: 36px;
	font-size: 16px;
	color: #fff;
	background: #c40001;
}

.logo .center ul {
	margin-left: 12px;
}

.logo .center ul li {
	float: left;
	margin-right: 25px;
}


.logo .center ul li a {
	display: inline-block;
	height: 28px;
	line-height: 28px;
}

.logo .center ul li a:hover {
	color: #c40001;
}

/* nav 开始*/
.nav { 
	height: 67px;
	border-bottom: 2px solid #c40000;
}

.nav .content {
		overflow: hidden;
}

.nav .content h2 {
	width: 209px;
	height: 47px;
	line-height:47px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #c40000;
	text-align: center;
	margin-top: 22px;
}



/* banner 开始 */
.banner {
	/*background: pink;*/
}

.banner .left {
	width: 209px;
	height: 468px;
	background: red;
}

.banner .choice {
	height: 465px;
	color: pink;
}

.banner .choice ul {
	margin-top: 2px;
}

.banner .choice ul li {
	
}

.banner .choice ul li a {
	display: inline-block;
	color: #fff;
	height: 33px;
	line-height: 33px;
	margin-left: 10px;
}

.banner .center {
	width: 722px;
	height: 456px;
	background: url(../images/banner_bg.png);
	margin-top: 11px;
	margin-left: 10px;	
}

.banner .right {
	width: 250px;
	height: 455px;
	/*background: yellow;*/
	border: 1px solid #ccc;
	margin-top: 12px;
}

.banner .right .b_top {
	/*background: pink;*/
	border-bottom: 1px dashed #ccc;
}

.banner .right .b_top h3 {
	height: 35px;
	line-height: 35px;
	margin-left: 16px;
	float: left;
}

.banner .right .b_top a {
	margin-top: 9px;
	margin-right: 10px;
	float: right;
}

.banner .right .b_top .icon-more {
	font-size: 12px;
}

.banner .right ul {
	margin-top: 5px;
}

.banner .right ul li {
	
}

.banner .right ul li a {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-left: 16px;
	/*background: pink;*/
}

.banner .right table {
	width: 250px;
	border: 1px solid #ccc;
	margin-left: -1px;
}

.banner .right table td {
	width: 25%;
	height: 70px;
	text-align: center;
	border: 1px solid #ccc;
}

.banner .right table .j11 {
	width: 20px;
	height: 24px;
	margin: 0 auto;
	margin-bottom: 5px;
	background: url(../images/icons.png) no-repeat -17px -15px;
}

/* recommend 开始*/
.recommend { 
	background: #EBEBEB;
	margin-top: 12px;
}

.recommend .left {
	width: 205px;
	height: 163px;
	background: #5C5251;
	text-align: center;
}

.recommend .left p {
	font-size: 18px;
	color: #fff;
	height: 18px;
}

.recommend .left img {
	margin-top: 30px;
	margin-bottom: 10px;
}

.recommend .one {
	width: 248px;
	height: 162px;
	background: url(../images/recommend01.png);
}

.recommend .line_div {
	width: 1px;
	height: 122px;
	background: #ccc;
	margin-top: 20px;
}

/* like 开始 */
.like {
	background: pink;
	border: 1px solid #ccc;
	margin-top: 50px;
}

.like .item {
	width: 200px;
	height: 230px;
	background: #fff;
	position: relative;
}

.like .item .t_item {
	margin-top: 17px;
	text-align: center;
}

.like .item .b_item {
	height: 73px;
	/*background: red;*/
	padding-left: 35px;
	padding-right: 45px;
}

.like .item .b_item p {
	line-height: 21px;
}

.like .item .b_item p.rmb {
	color: #C40001;
}

.like .item .b_item p.rmb span {
	font-size: 14px;
}

.line3::after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 120px;
	background: #ccc;

	position: absolute;
	right: 0;
	bottom: 7px;
}


/* jydq 开始*/
.jydq {
	/*background: pink;*/
	margin-top: 50px;
}

.jydq .left {
	width: 210px;
	height: 362px;
	/*background: red;*/
}

.jydq .left ul {
	padding-left: 12px;
}

.jydq .left ul li {
	float: left;
	border-bottom: 1px solid #ccc; 
}

.jydq .left ul li:nth-child(2n+1) {
	margin-right: 10px;
}

.jydq .left ul li a {
	display: inline-block;
	width: 86px;
	height: 32px;
	line-height: 32px;
	/*background: yellow;*/
	text-align: center;
}

.jydq .left p {
	text-align: center;
	color: #c40001;
}

.jydq .left p.one {
	font-size: 18px;
	margin-top: 24px;
	margin-bottom: 5px;
}

.jydq .left .b_left {
	/*width: 152px;
	height: 141px;*/
	text-align: center;
	margin-top: 18px;
	/*background: green;*/
	/*margin-right: 30px;*/
}

/* zpbz 开始 */
.zpbz {
	background: #f5f5f5;
	margin-top: 37px;
	height: 110px;
}

.zpbz .content {
	height: 79px;
	/*background: yellow;*/
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
}

.zpbz .one {
	width: 241px;
	height: 50px;
	/*background: pink;*/
}

.zpbz .one:first-child {
	margin-left: 30px;
}

.zpbz .one:last-child {
	width: 206px;
}

.zpbz .one .left {
	width: 50px;
	height: 50px;
	background: url(../images/icons.png) no-repeat -252px -2px;
}

.zpbz .one .right {
	height: 50px;
	margin-left: 7px;
}

.zpbz .one .right p {
	height: 12px;
	line-height: 12px;
}

.zpbz .one .right p:first-child {
	margin-top: 8px;
	margin-bottom: 10px;
	color: #000;
}


/* links 开始*/
.links {
	height: 188px;
	background: #F5F5F5;
}

.links .content {
	height: 187px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}

.links dl {
	float: left;
	width: 196px;
}

.links dl:first-child {
	margin-left: 50px;
}

.links dl:last-child {
	width: 76px;
}

.links dl dt {
	font-size: 16px;
	color: #000;
	height: 30px;
	margin-top: 20px;
}

.links dl dd {
	height: 20px;
	color: #000;
}

.links dl .evm {
	height: 95px;
	margin-left: -10px;
	margin-bottom: 5px;
}

/* bottom 开始 */
.bottom {
	height: 120px;
	background: #F5F5F5;
}

.bottom .content {
	height: 119px;
	/*background: pink;*/
	border-bottom: 1px solid #ccc;
}

.bottom li {
	float: left;
	margin-top: 20px;
}

.bottom li:first-child {
	margin-left: 110px;
}

.bottom li a {
	padding-left: 15px;
	padding-right: 15px;
}

.line1::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #666;
	/*color: #ccc;*/

	position: relative;
	left: 0;
	top: 2px;
}

.bottom p {
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.bottom p:nth-child(2) {
	margin-top: 15px;
}




body {
	height: 4000px;
}